.Mask {
  height: 100vh;
  padding: 25px;
  background-color: #eff4fa;
}
.Rectangle {
  position: relative;
  width: 55%;
  padding: 30px;
  border-radius: 7px;
  box-shadow: 0 4px 6px 0 rgba(172, 184, 195, 0.79);
  background-color: #ffffff;
}
.Calculator-heading {
  height: 27px;
  font-family: OpenSans;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0d4da1;
}
.Calculator-description {
  height: 34px;
  font-family: OpenSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  color: #131313;
}
.Name {
  font-family: OpenSans;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #131313;
}
.Input {
  margin: 0 10px;
  border: none;
  width: 405px;
  border-bottom: 1px solid #d9d9d9;
  outline: none;
}
.Input-Wrapper {
  margin: 30px 0;
}
.radioButtonLabel {
  position: relative;
  display: inline-block;
  margin: 16px;
  margin-bottom: 0px;
}
input[type="radio"] {
  position: absolute;
  background-color: transparent;
  background-image: none;
}
.ticker {
  position: absolute;
  background-image: url(/assets/image/sprite.png);
  background-position: -119px -51px;
  width: 17px;
  height: 16px;
  top: 6px;
  left: 6px;
}
.selected-ticker {
  background-image: url(/assets/image/sprite.png);
  background-position: -146px -52px;
  width: 15px;
  height: 15px;
}

.imageWrapper {
  display: inline-block;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);
  border: solid 1px #e6e6e6;
  background-color: #ffffff;
}
.selected-input-value {
  font-weight: 800;
  margin: 0px 6px;
}
.gender-input-image {
  background-image: url(/assets/image/sprite.png);
  background-position: -229px -132px;
  width: 70px;
  height: 74px;
  margin: 16px 16px 0px 16px;
}
.male-input-image {
  background-image: url(/assets/image/sprite.png);
  background-position: -229px -132px;
  width: 70px;
  height: 74px;
}
.female-input-image {
  background-image: url(/assets/image/sprite.png);
  background-position: -309px -127px;
  width: 70px;
  height: 74px;
}

/* slider styling */
.sliderWrapper {
  display: flex;
}
.inputValueWrapper {
  display: flex;
}
.rangeInput {
  /* overflow: hidden; */
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 4px; /* Specified height */
  background: #f58220;
  outline: none; /* Remove outline */
  border: none;
}
.rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: url(/assets/image/sprite.png);
  background-position: -175px -50px;
  width: 19px;
  height: 22px;
  cursor: pointer;
}
/* .rangeInput::-webkit-slider-runnable-track {
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
  margin-top: -10px;
} */

.rangeInputWrapper {
  width: 450px; /* Full-width */
  margin: 0px 10px;
}
.guideDiv {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #131313;
}

.rangeInputValue {
  font-size: 16px;
  font-weight: bold;
  text-align: right;
  margin: 0px 10px;
  color: #131313;
  font-stretch: normal;
  line-height: normal;
  border-bottom: 1px solid #d9d9d9;
}

.rangeInputPrefixSuffix {
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color: #131313;
  display: flex;
  align-items: center;
}

.previousbtn {
  position: absolute;
  top: 45%;
  left: 90%;
  margin: 0px 50px;
}

.nextbtn {
  position: absolute;
  top: 50%;
  left: 90%;
  margin: 0px 50px;
}